.container {
    flex: 1;
    flex-direction: column;
    margin: 0;
}

.chatbot-container {
    display: flex;
    height: 91vh;
}

.feature-container {
    flex: 1;
    background-color: #a5f8ad;
}

.message-container {
    flex: 5;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    overflow-y: auto;
}

.chatbot-messages {
    flex-grow: 1;
    padding: 10px;
    background-color: darkgray;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
}

.user {
    padding-left: 15vh;
    background-color: #b205ec;
    color: #fff;
    text-align: start;
}

.chatbot-input {
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
    padding: 10px;
    background-color: darkgray;
}

.input-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.chatbot-input textarea {
    flex-grow: 1;
    min-height: 30px;
    max-height: 200px;
    resize: none;
    padding: 8px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
    transition: height 0.2s ease;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #bbb transparent;
}

.chatbot-input textarea::-webkit-scrollbar {
    width: 8px;
}

.chatbot-input textarea::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 4px;
}

.chatbot-input textarea:focus {
    outline: none;
}

.chatbot-input button {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
