.container {
    flex: 1;
    margin: 0;
    display: flex;
    height: 91vh;
}

.feature-container {
    flex: 2;
    background-color: #FF9F01;
    flex-direction: column;
    display: flex;
}

.bullet-points {
    padding: 0 20px 0 30px;
    background-color: #FCD48F;
    border-radius: 20px;
    margin: auto 20px 10px 20px;
    color: black;
}

.bullet-points ul {

}

.message-container {
    flex: 5;
    display: flex;
    flex-direction: column;
    background-color: #FBE6BF;
    overflow-y: auto;
}

.chatbot-messages {
    flex-grow: 1;
    padding: 10px;
    background-color: #FBE6BF;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    display: flex;
    flex-direction: column;
}

.chat {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.message {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 70%; /* Adjust the maximum width as needed */
}

.user {
    background-color: #FAF8EE;
    color: black;
    font-weight: bold;
    text-align: left;
    align-self: flex-end; /* Align the user messages to the right */
}

.chatbot-response {
    border-radius: 10px;
    font-size: 14px;
    margin: 0 0 5px 0;
    padding: 10px;
    /*flex-grow: 1;*/
    background-color: #FDC360;
    max-width: 70%;
    align-self: flex-start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.response {
    color: black;
    font-weight: bold;
    text-align: left;
    white-space: pre-wrap;
}

.chatbot-input {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    background-color: #FBE6BF;
}

.input-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.chatbot-input textarea {
    flex-grow: 1;
    min-height: 30px;
    max-height: 200px;
    resize: none;
    padding: 14px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
    transition: height 0.2s ease;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #bbb transparent;
}

.chatbot-input textarea::-webkit-scrollbar {
    width: 8px;
}

.chatbot-input textarea::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 4px;
}

.chatbot-input textarea:focus {
    outline: none;
}

.chatbot-input button {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: #FF9F01;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}



.useCase-dropdown-container {
    margin: 20px 0 0 30px;
}

.useCase-dropdown {
    /*margin-left: 100px;*/
    margin-top: 5px;
    position: relative;
    display: inline-block;
}

.useCase-dropdown-toggle {
    background-color: #f2f2f2;
    color: #333;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 50vh;
    border-radius: 20px;
    position: relative;
    text-align: left;
}

.useCase-dropdown-toggle::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #333 transparent transparent transparent;
}

.useCase-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    padding: 8px 0;
    list-style: none;
    margin: 0;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.useCase-dropdown-menu li {
    padding: 8px 16px;
    cursor: pointer;
}

.useCase-dropdown-menu li:hover {
    background-color: #e2e2e2;
}







