.chatbot-header {
    height: 7vh;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #FAF8EE;
    color: orange;
    justify-content: space-between;
}

.avatar-title {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 1rem;
    color: #FF9F01;
    text-decoration: none;
}

.navbar a {
    color: orange;
    text-decoration: none;
}

.chatbot-avatar {
    width: 180px;
    height: 70px;
    /*border-radius: 50%;*/
    background-color: #fff;
    margin: 5px;
    background-image: url('images/taskbuddy_AI.png');
    background-color: #FAF8EE;
    background-size: cover;
    background-position: center;
}

.chatbot-title {
    margin: 5px 30px 5px 10px;
    font-size: 16px;
}

.active {
    list-style: none;
}

.nonActive {
    list-style: none;
}