.container {
    flex: 1;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
}

.chatbot-header {
    height: 7vh;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.chatbot-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}

.chatbot-title {
    margin-left: 10px;
    font-size: 16px;
}

.chatbot-container {
    display: flex;
    height: 91vh;
}

.feature-container {
    width: 25%;
    background-color: #a5f8ad;
}

.message-container {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.chatbot-messages {
    flex-grow: 1;
    padding: 10px;
    background-color: #d3d1d3;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
}

.user {
    padding-left: 15vh;
    background-color: #b205ec;
    color: #fff;
    text-align: start;
}

.chatbot {
    background-color: #f2f2f2;
}

.chatbot-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.chatbot-input textarea {
    resize: none;
    flex-grow: 1;
    height: 40px;
    padding: 8px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
    transition: height 0.2s ease;
}

.chatbot-input textarea:focus {
    outline: none;
}

.chatbot-input button {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
